---
BasedOnStyle: Google
---
Language: Cpp
UseTab: Never
MaxEmptyLinesToKeep: 3
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: false
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -2
BinPackParameters: false
BreakStringLiterals: true
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 100
