# Compiled sources
*_m.h
*_m.cc
*_sm.h
*_sm.cc

#Remove hot makefiles
#Makefile
#Makefile.vc
policies/Makefile
policies/Makefile.vc
src/Makefile
src/Makefile.vc

# Doxygen documentation
/doc/
/doc/doxy/
/doc/neddoc/

# Ignore results
/examples/*/results/
/examples/*/*/results/
/examples/*/*/*/results/
*.sca
*.vec
*.vci
*.elog
.computed/
*.csv

# Misceleanous
*.pyc
*.pcap
*.log
.settings/
.tkenvrc
.tkenvlog
.cmdenv-log
.oppfeaturestate
netanim-trace.txt
gcc-debug

# ignore binary files
/out
out/
.clangd/
*.so
*.dylib
*.dll
*.tmp*
*.a
*.lib
*.exe
*.o
*.obj
*.pdb
*.idb
*.manifest
*.out


# ignore backup and temp files
*.bak
*~

# ignore CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# project files
.idea/
.qtenvrc
RINASim.cbp
cmake-build-debug/
